<div fxLayout="row" fxLayout.lt-md="column wrap" fxLayoutGap="40px" fxLayoutGap.lt-md="20px">
  <div fxFlex fxLayoutAlign="center start">
    <div fxLayoutAlign="center start" style="background-color: #fcfaf6;">
      <img [src]="product.images[0]" width="90%" height="auto" class="m-t-20 m-b-20">
    </div>
  </div>
  <div fxFlex fxLayout="column">
    <h1 class="m-t-0 m-b-0">{{ product.name }}</h1>
    <div fxLayout="row" fxLayoutAlign="left center" class="rate">
      <bar-rating rate="3" [max]="5" [readOnly]="true" theme=stars></bar-rating>
      <mat-divider [vertical]="true"></mat-divider>
      <span class="mat-caption">Basé sur {{ product.reviewsNumber }} avis</span>
    </div>
    <p>{{ product.description }}</p>
    <mat-divider></mat-divider>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="p-t-10">
      <div fxLayout="row" fxLayoutAlign="start center">
        <div class="mat-display-1 m-b-0">{{ product.price * quantity }} €</div>
        <div *ngIf='this.token != null' fxLayout="row" fxLayoutAlign="start center" class="m-l-10">
          <button mat-icon-button (click)="doPlus()">
            <mat-icon>add</mat-icon>
          </button>
          <div>{{ quantity }}</div>
          <button mat-icon-button (click)="doMinus()">
            <mat-icon>remove</mat-icon>
          </button>
        </div>
      </div>
      <button *ngIf='this.token != null' mat-flat-button color="primary">Ajouter au panier</button>
    </div>
    <div fxLayoutAlign="end center" class="m-t-20">
      <img *ngIf='this.token != null' src="assets/img/payment-secure.png" height="50px">
    </div>
  </div>
</div>
<mat-divider></mat-divider>
<div fxLayout="row" fxLayoutAlign="space-between center">
  <h1>Avis clients</h1>
  <button *ngIf='this.token != null' mat-flat-button color="accent" (click)="openReviewForm()">Ecrire un avis</button>
</div>
<div fxLayout="column" *ngFor="let review of product.reviews;">
  <app-review-list-item [review]="review"></app-review-list-item>
</div>