.mat-divider-horizontal {
  margin: 20px 0;
}

.mat-divider-vertical {
  height: 20px;
  margin: 0 5px;
}

.payment-img {
  max-height:20px;
  width: auto;
  height: auto;
}

.ui {
  background-color: green;
  width: 100%;
  height: auto;
  margin: 15px;
}