<app-breadcrumb-header-login></app-breadcrumb-header-login>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<div class="form block">

  <div class="container-fluid  " style="background-image:  url('assets/img/jungle.jpg');">
    <div class="container col-md-10 col-md-offset-1" style="background-color: rgba(255, 255, 255, 0.3);">
      <div class="rotate">
        <div>
          <img class="cadenas" src="assets/img/cadenas.png">
        </div>
      </div>
      <form [formGroup]="formGroup" (ngSubmit)="onSubmitSigninForm()">
        <div class="form-group">
          <label for="login">Login</label><br />
          <input type="text" id="login" class="form-control" placeholder="example@example.com" formControlName="login">
        </div>
        <div class="form-group">
          <label for="password">Mot de passe</label><br />
          <input type="password" id="password" class="form-control" placeholder="Minimum 8 caractères"
            formControlName="password">
        </div>
        <div class="text-center">
          <button class="btn btn-success" type="submit">Connexion</button>
          <br />
          <br />
        </div>
      </form>
      <button class="btn btn-success" (click)="onSubmitNewAccount()">Créer un compte</button>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
    </div>
  </div>