<div class="app-product-list-sort-container">
  <app-product-list-sort [productsNumber]="products.length" (sort)="sortProducts($event)"></app-product-list-sort>
</div>
<div fxLayout="column" *ngFor="let product of displayedProducts; last as isLast">
  <app-product-list-item [product]="product" [route]="getItemRoute(product)"></app-product-list-item>
  <mat-divider *ngIf="!isLast"></mat-divider>
</div>
<mat-paginator [length]="products.length" [pageSize]="pageSize" (page)="updatePagination($event.pageIndex)">
</mat-paginator>