<app-breadcrumb-header-home></app-breadcrumb-header-home>
<div class="fond" style="background-image: url('assets/img/wp6406176.jpg');">
    <br />
    <br />
    <h1>Bienvenue !</h1>
    <p>Vous trouverez sur ce site tout ce que vous avez besoin pour <br />vos dinosaures.</p>
    <div class="menu-center">
        <div>
            <h2>Commencer l'aventure !</h2>
            <p class="pmenu">Vous souhaitez adopter un dinosaure ? Votre décision est mûrement réfléchie ?
                Vous pouvez consulter la liste de nos candidats à l’adoption en identifiant
                le refuge le plus proche de votre domicile.
                Repérez le ou les profils d’animaux qui vous correspondent,
                en fonction de votre mode de vie et de la composition de votre foyer.</p>
            <a routerLink="/collections/dinosaures" routerLinkActive="active">
                <img class="imgmenu" src="assets/img/egg.webp">
            </a>
        </div>
        <div>
            <h2>Nourriture et entretien</h2>
            <p class="pmenu">Parce que chaque croquette pour dinosaure est différente,
                DinoMarché vous propose un très large choix de croquettes pour dinosaure.
                Vous trouverez toutes vos marques préférées de croquettes pour dinosaure à prix malin :
                Royal Dino, Bills, Rex Plan, Eukanusaure, etc.
                DinoMarché vous offre toujours le meilleur choix en croquettes pour dinosaure !</p>
            <img class="imgmenu" src="assets/img/food.png">
        </div>
        <div>
            <h2>Les plus beaux Goodies</h2>
            <p class="pmenu">Découvrez des goodies tendances en 2021 à personnaliser pour votre entreprise. Des goodies
                publicitaires écolo, pas cher pour tous vos événements !</p>
            <img class="imgmenu" src="assets/img/goodies.png">
        </div>
        <div>
            <h2>Pour plus d'informations !</h2>
            <p class="pmenu">Vous avez besoin d'aide ? Gagnez du temps en trouvant une réponse en quelques clics !
                DinoMarché répond à vos questions sur tous les dinosaures !</p>
            <img class="imgmenuHor" src="assets/img/calling.jpg">
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
</div>