.breadcrumb-container {
    padding: 60px 0;
    background-color: #f2f1ef;
    background-attachment: fixed;
    background-position: right;
    background-size: 600px;
    background-repeat: no-repeat;
    overflow: hidden;
  }