<div class="sidenav-closer">
  <button mat-icon-button disableRipple aria-label="Fermer le menu de navigation" (click)="closeNav()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<nav>
  <mat-list role="list">
    <mat-list-item role="listitem">
      <h4>Dinosaures</h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">
      <h4>Nourriture</h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">
      <h4>Goodies</h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">
      <h4>Contact</h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">
      <h4>A propos</h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem">
      <h4>FAQ</h4>
    </mat-list-item>
  </mat-list>
</nav>