.breadcrumb-container {
    padding: 80px 0;
    background-color: #f2f1ef;
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    overflow: hidden;
  }