<div fxLayout="row" fxLayout.xs="column wrap" fxLayoutAlign="left center" class="product-item">
  <div fxFlex>
    <div fxFlexAlign="center center" class="product-image m-t-10 m-b-10">
      <img [src]="product.images" width="220px" height="auto">
    </div>
  </div>
  <div fxFlex="column" fxFlexFill fxFlexAlign="center" class="product-content">
    <a [href]="route">
      <span class="mat-headline">{{ product.name }} <i>({{ product.alias }})</i></span>
    </a>
    <div fxLayout="row" fxLayoutAlign="left center">
      <bar-rating [rate]="product.rate" [max]="5" [readOnly]="true" theme=stars></bar-rating>
      <mat-divider [vertical]="true"></mat-divider>
      <span class="mat-caption">Basé sur {{ product.reviewsNumber }} avis</span>
    </div>
    <div class="product-content-description">
      {{ product.description }}
    </div>
    <div class="price">
      <span class="mat-h3">{{ product.price }} €</span>
    </div>
  </div>
</div>