a {
  text-decoration: none;
  color: #222222;
}

a:hover { text-decoration: underline; }

.product-item {
  min-height: 190px;
}

.price {
  margin-top: 25px;
}

.product-content {
  padding: 25px;
}

.mat-divider-vertical {
  height: 20px;
  margin: 0 5px;
}

.product-content-description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}