<mat-toolbar>
  <div class="nav-wrapper">
    <button mat-icon-button aria-label="Afficher ou masquer barre de navigation" (click)="toggleDrawer()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="nav-actions">
      <button mat-icon-button (click)="onSubmitLogin()">
        <img src="assets/img/account_white.svg" class="icon">
      </button>
      <button mat-icon-button matBadge="" matBadgePosition="after" matBadgeSize="small" matBadgeColor="accent"
        (click)="onSubmitCart()">
        <img matBadge="15" matBadgeColor="warn" src="assets/img/shopping-cart_white.svg" class="icon">
      </button>
    </div>
  </div>
</mat-toolbar>