<mat-toolbar>
  <div class="nav-wrapper">
    <img src="assets/img/logo.svg" class="logo">
    <ng-template [ngIf]="(isHandset$ | async) === false">
      <nav>
        <ul>
          <li *ngFor="let item of items">
            <a [href]='item.route'>
              <h4>{{ item.title }}</h4>
            </a>
          </li>
        </ul>
      </nav>
      <div class="nav-actions" routerLinkActive="active">
        <div *ngIf='this.token != null'>
          <p>Bonjour {{ this.tokenInfo.login }} </p>
        </div>
        <button mat-icon-button (click)="onSubmitLogin()">
          <img src="assets/img/account.svg" class="icon">
        </button>
        <button *ngIf='this.token != null' mat-icon-button matBadge="" matBadgePosition="after" matBadgeColor="primary"
          matBadgeSize="small" (click)="onSubmitCart()">
          <img matBadge="15" matBadgeColor="warn" src="assets/img/shopping-cart.svg" class="icon">
        </button>
        <button *ngIf='this.token == null' mat-icon-button matBadge="" matBadgePosition="after" matBadgeColor="primary"
          matBadgeSize="small" (click)="onSubmitLogin()">
          <img matBadge="15" matBadgeColor="warn" src="assets/img/shopping-cart.svg" class="icon">
        </button>
      </div>
    </ng-template>
  </div>
</mat-toolbar>